.contenedor{
    width: 700px;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
}


.contenedor-column{
    width: 20%;
    height: 350px;
    border-right: 1px solid black;
}

.contenedor-header{
    width: 543px;
}


.contenedor-header-title{
    display: flex;
    /* background-color: blanchedalmond; */
    /* padding: 20px; */
    /* margin-left: 18px; */
    height: 50px;
    text-align: start;
    width: 100%;
    
}
.contenedor-header-title :nth-child(2){
    margin-left: 10px;
}

.contenedor-header-title-1{
    /* width: 50%; */
    background-color: white;
    /* border-radius: 20px; */
}

.contenedor-header-title-1-descripcion{
    font-size: 15px;
    height: 20px;
    margin-top: 15px;
    margin-left: 6px;
}

.contenedor-body{
    width: 543px;
    border-bottom: 1px solid black;
}

.contenedor-body-content{
    /* display: flex; */
    height: auto;
}

.contenedor-footer{
    display: flex;
    width: 543px;
    /* height: 50px; */
}

.contenedor-footer-info{
    display: flex;
    justify-content: center;
    /* width: 50%; */
    
}

.contenedor-footer-info-fechas{
    font-size: 11px;
    margin-left: 6px;
    width: 80px;
    background-color: #e7e0e0;
    padding-top: 7px;
}   

.contenedor-footer-info-rango{
    margin-top: 14px;
    margin-left: 5px;
}

.contenedor-footer-acciones{
    display: flex;
    /* width: 50%; */
    justify-content: center;
}



.contenedor-footer-acciones-button1{
    height: 30px;
    width: 80px;
    margin-top: 10px;
    margin-left: 20px;
}


ul{
    list-style-type: none;
}

.rangos-estaticos{
    text-align: start;
    padding: 0 0 10px 0;
}

.rangos-estaticos li {
    /* width: 120px; */
    /* height: 40px; */
    /* border-bottom: 1px solid black; */
    padding: 10px 0 10px 4px;
    font-size: 15px;
}


.selectedStaticRange{
    color: red;
}