
.contenedor-calendar{
    display: flex;
    width: 100%;
}

.contenedor-calendar-content{
    /* width: 50%; */
    margin-left: 16px;
    /* border-left: 1px solid black; */
}

.contenedor-calendar-content-title{
    text-align: start;
    font-size: 17px;
    margin-left: 10px;
}

.selectMont{
    width: 102px;
    height: 30px;
}

.nuevoEstilo{
    margin-left: 5px;
}

.line{
    height: 236px;
    border-left: 1px solid black;
}


.todayDay{
    background-color: aqua;
}

.startDate .endDate{
    background-color: aquamarine;
}


.selectedRange{
    background-color: blueviolet;
}